a {
  color: #62929e;
}
a:hover {
  color: #62929e;
}
.site-nav .btn-header-ask {
  border-color: #62929e;
  color: #62929e;
}
.site-nav .navbar-nav li.active > a,
.site-nav .navbar-nav li.open > a {
  color: #62929e;
}
.ap-tab-nav li.ap-menu-logout.active a {
  color: #62929e;
}
.ap-tab-nav li.ap-menu-logout.active a i {
  color: #62929e;
}
.ap-tab-nav li.ap-menu-logout.active a a:hover {
  background: #62929e;
}
.ap-tab-nav li.ap-menu-logout.active a > a span {
  background: #62929e;
}
.site-header-cover {
  background-color: #6896a2;
}
.for-answerer .btn-answer {
  color: #62929e;
}
#category-dropdown.open .dropdown-toggle {
  color: #62929e;
}
#menu-toggle {
  color: #62929e;
}
.tml input[type="text"]:hover,
.tml input[type="password"]:hover,
.tml input[type="text"]:focus,
.tml input[type="password"]:focus {
  border-color: #a1bec5;
}
.tml .submit > input {
  background: #c1d4d8;
  border: 2px solid #a1bec5;
}
.tml .submit > input:hover {
  border-color: #82a8b1;
}
.sticky {
  border-color: #a1bec5;
}
.ap-btn-follow {
  border-color: #91b3bb;
}
.ap-btn-follow.active {
  background: #a1bec5;
}
.border-box {
  border-color: #91b3bb;
}
#anspress #ap-question-sorting .ap-dropdown-toggle.active {
  background: #62929e;
}
#anspress .bootstrap-tagsinput .tag {
  background: #62929e;
}
#anspress .ap-taxo-detail .ap-tax-item-count {
  background: #62929e;
}
#anspress .ap-breadcrumbs > li a:hover {
  color: #62929e;
}
#anspress .ap-q-actions > li.ap-post-action.ap-action-select_answer > a:hover {
  background-color: #62929e;
}
#anspress .ap-answers-tab li.active a:hover {
  background-color: #82a8b1;
}
#anspress .ap-tags-item .term-title {
  background-color: #b1c9cf;
  border-color: #62929e;
}
#anspress .ap-reputation-ref strong {
  color: #62929e;
}
#anspress .ap-users .ap-btn-follow {
  border-color: #62929e;
}
